.home {
  height: 100%;
  &__container {
    height: 100%;
  }
  &__wrapper {
    position: relative;
    border-radius: 10px;
    border: solid 1px var(--hover-color);
    height: 100%;
    min-height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(#b7b0e3, #ffd3d6);
  }
  &__icon {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

@keyframes anim {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(-200%);
  }
}

@keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
.c1 {
  width: 800px;
  height: 700px;
  position: absolute;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/131045/clouds.png") 0 0
    no-repeat;
  background-size: 100%;
  z-index: 999;
}

.c1.one {
  top: -260px;
  left: 0px;
}
.c1.two {
  top: -200px;
  left: 100px;
}
.c1.three {
  top: -240px;
  right: 100px;
}
.c1.four {
  top: -180px;
  right: 0px;
}

.c1 {
  animation: anime 1000s linear infinite forwards;
}
